                                                                 code_content                                                                 
----------------------------------------------------------------------------------------------------------------------------------------------
 -- ============================================================================                                                             +
 -- 鎶ょ悊涓氬姟浠峰€艰绠?                                                                                                                        +
 -- ============================================================================                                                             +
 -- 鍔熻兘: 缁熻鎶ょ悊搴忓垪鍚勬湯绾х淮搴︾殑宸ヤ綔閲忓拰涓氬姟浠峰€?                                                                                          +
 --                                                                                                                                          +
 -- 杈撳叆鍙傛暟:                                                                                                                                +
 --   {task_id}            - 璁＄畻浠诲姟ID                                                                                                      +
 --   {current_year_month} - 褰撴湡骞存湀 (鏍煎紡: YYYY-MM)                                                                                        +
 --   {hospital_id}        - 鍖荤枟鏈烘瀯ID                                                                                                      +
 --   {version_id}         - 妯″瀷鐗堟湰ID                                                                                                      +
 --                                                                                                                                          +
 -- 鏁版嵁鏉ユ簮:                                                                                                                                +
 --   Part 1: charge_details + dimension_item_mappings (鏀惰垂鏄庣粏缁熻)                                                                        +
 --   Part 2: workload_statistics (宸ヤ綔閲忕粺璁¤〃)                                                                                             +
 --                                                                                                                                          +
 -- 缁村害鍒嗙被:                                                                                                                                +
 --   浠巆harge_details缁熻: 鍩虹鎶ょ悊銆佸尰鎶ゅ崗鍚屾不鐤椼€佺敳/涔?涓欑骇鎶ょ悊娌荤枟銆佸叾浠栨姢鐞?                                                            +
 --   浠巜orkload_statistics缁熻: 搴婃棩鎶ょ悊(鐢?涔?涓欑骇)銆佸嚭鍏ヨ浆闄?鍏ラ櫌/鏃ラ棿/鍑洪櫌)                                                              +
 -- ============================================================================                                                             +
                                                                                                                                             +
 -- ============================================================================                                                             +
 -- Part 1: 浠巆harge_details缁熻鐨勬姢鐞嗙淮搴?                                                                                                  +
 -- ============================================================================                                                             +
                                                                                                                                             +
 -- 1. 鍩虹鎶ょ悊 (dim-nur-base)                                                                                                               +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     SUM(cd.amount) as workload,                                                                                                             +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     SUM(cd.amount) * mn.weight as value,                                                                                                    +
     NOW() as created_at                                                                                                                     +
 FROM charge_details cd                                                                                                                      +
 INNER JOIN dimension_item_mappings dim ON cd.item_code = dim.item_code AND dim.hospital_id = {hospital_id}                                  +
 INNER JOIN model_nodes mn ON dim.dimension_code = mn.code AND mn.version_id = {version_id}                                                  +
 INNER JOIN departments d ON cd.prescribing_dept_code = d.his_code AND d.hospital_id = {hospital_id} AND '鎶ょ悊' = ANY(d.accounting_sequences)+
 WHERE TO_CHAR(cd.charge_time, 'YYYY-MM') = '{current_year_month}'                                                                           +
   AND mn.code = 'dim-nur-base'                                                                                                              +
   AND d.is_active = TRUE                                                                                                                    +
 GROUP BY mn.id, d.id, mn.name, mn.code, mn.parent_id, mn.weight;                                                                            +
                                                                                                                                             +
 -- 2. 鍖绘姢鍗忓悓娌荤枟 (dim-nur-collab)                                                                                                         +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     SUM(cd.amount) as workload,                                                                                                             +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     SUM(cd.amount) * mn.weight as value,                                                                                                    +
     NOW() as created_at                                                                                                                     +
 FROM charge_details cd                                                                                                                      +
 INNER JOIN dimension_item_mappings dim ON cd.item_code = dim.item_code AND dim.hospital_id = {hospital_id}                                  +
 INNER JOIN model_nodes mn ON dim.dimension_code = mn.code AND mn.version_id = {version_id}                                                  +
 INNER JOIN departments d ON cd.prescribing_dept_code = d.his_code AND d.hospital_id = {hospital_id} AND '鎶ょ悊' = ANY(d.accounting_sequences)+
 WHERE TO_CHAR(cd.charge_time, 'YYYY-MM') = '{current_year_month}'                                                                           +
   AND mn.code = 'dim-nur-collab'                                                                                                            +
   AND d.is_active = TRUE                                                                                                                    +
 GROUP BY mn.id, d.id, mn.name, mn.code, mn.parent_id, mn.weight;                                                                            +
                                                                                                                                             +
 -- 3. 鐢茬骇鎶ょ悊娌荤枟 (dim-nur-tr-a)                                                                                                           +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     SUM(cd.amount) as workload,                                                                                                             +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     SUM(cd.amount) * mn.weight as value,                                                                                                    +
     NOW() as created_at                                                                                                                     +
 FROM charge_details cd                                                                                                                      +
 INNER JOIN dimension_item_mappings dim ON cd.item_code = dim.item_code AND dim.hospital_id = {hospital_id}                                  +
 INNER JOIN model_nodes mn ON dim.dimension_code = mn.code AND mn.version_id = {version_id}                                                  +
 INNER JOIN departments d ON cd.prescribing_dept_code = d.his_code AND d.hospital_id = {hospital_id} AND '鎶ょ悊' = ANY(d.accounting_sequences)+
 WHERE TO_CHAR(cd.charge_time, 'YYYY-MM') = '{current_year_month}'                                                                           +
   AND mn.code = 'dim-nur-tr-a'                                                                                                              +
   AND d.is_active = TRUE                                                                                                                    +
 GROUP BY mn.id, d.id, mn.name, mn.code, mn.parent_id, mn.weight;                                                                            +
                                                                                                                                             +
 -- 4. 涔欑骇鎶ょ悊娌荤枟 (dim-nur-tr-b)                                                                                                           +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     SUM(cd.amount) as workload,                                                                                                             +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     SUM(cd.amount) * mn.weight as value,                                                                                                    +
     NOW() as created_at                                                                                                                     +
 FROM charge_details cd                                                                                                                      +
 INNER JOIN dimension_item_mappings dim ON cd.item_code = dim.item_code AND dim.hospital_id = {hospital_id}                                  +
 INNER JOIN model_nodes mn ON dim.dimension_code = mn.code AND mn.version_id = {version_id}                                                  +
 INNER JOIN departments d ON cd.prescribing_dept_code = d.his_code AND d.hospital_id = {hospital_id} AND '鎶ょ悊' = ANY(d.accounting_sequences)+
 WHERE TO_CHAR(cd.charge_time, 'YYYY-MM') = '{current_year_month}'                                                                           +
   AND mn.code = 'dim-nur-tr-b'                                                                                                              +
   AND d.is_active = TRUE                                                                                                                    +
 GROUP BY mn.id, d.id, mn.name, mn.code, mn.parent_id, mn.weight;                                                                            +
                                                                                                                                             +
 -- 5. 涓欑骇鎶ょ悊娌荤枟 (dim-nur-tr-c)                                                                                                           +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     SUM(cd.amount) as workload,                                                                                                             +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     SUM(cd.amount) * mn.weight as value,                                                                                                    +
     NOW() as created_at                                                                                                                     +
 FROM charge_details cd                                                                                                                      +
 INNER JOIN dimension_item_mappings dim ON cd.item_code = dim.item_code AND dim.hospital_id = {hospital_id}                                  +
 INNER JOIN model_nodes mn ON dim.dimension_code = mn.code AND mn.version_id = {version_id}                                                  +
 INNER JOIN departments d ON cd.prescribing_dept_code = d.his_code AND d.hospital_id = {hospital_id} AND '鎶ょ悊' = ANY(d.accounting_sequences)+
 WHERE TO_CHAR(cd.charge_time, 'YYYY-MM') = '{current_year_month}'                                                                           +
   AND mn.code = 'dim-nur-tr-c'                                                                                                              +
   AND d.is_active = TRUE                                                                                                                    +
 GROUP BY mn.id, d.id, mn.name, mn.code, mn.parent_id, mn.weight;                                                                            +
                                                                                                                                             +
 -- 6. 鍏朵粬鎶ょ悊 (dim-nur-other)                                                                                                              +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     SUM(cd.amount) as workload,                                                                                                             +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     SUM(cd.amount) * mn.weight as value,                                                                                                    +
     NOW() as created_at                                                                                                                     +
 FROM charge_details cd                                                                                                                      +
 INNER JOIN dimension_item_mappings dim ON cd.item_code = dim.item_code AND dim.hospital_id = {hospital_id}                                  +
 INNER JOIN model_nodes mn ON dim.dimension_code = mn.code AND mn.version_id = {version_id}                                                  +
 INNER JOIN departments d ON cd.prescribing_dept_code = d.his_code AND d.hospital_id = {hospital_id} AND '鎶ょ悊' = ANY(d.accounting_sequences)+
 WHERE TO_CHAR(cd.charge_time, 'YYYY-MM') = '{current_year_month}'                                                                           +
   AND mn.code = 'dim-nur-other'                                                                                                             +
   AND d.is_active = TRUE                                                                                                                    +
 GROUP BY mn.id, d.id, mn.name, mn.code, mn.parent_id, mn.weight;                                                                            +
                                                                                                                                             +
 -- ============================================================================                                                             +
 -- Part 2: 浠巜orkload_statistics缁熻鐨勬姢鐞嗙淮搴?                                                                                             +
 -- ============================================================================                                                             +
 -- 娉ㄦ剰: workload_statistics涓殑department_code鏄牳绠楀崟鍏冧唬鐮侊紝闇€瑕侀€氳繃departments琛ㄥ叧鑱?                                                   +
                                                                                                                                             +
 -- 7. 鐢茬骇搴婃棩鎶ょ悊 (dim-nur-bed-3)                                                                                                          +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     ws.stat_value as workload,                                                                                                              +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     ws.stat_value * mn.weight as value,                                                                                                     +
     NOW() as created_at                                                                                                                     +
 FROM workload_statistics ws                                                                                                                 +
 INNER JOIN model_nodes mn ON ws.stat_type = mn.code AND mn.version_id = {version_id}                                                        +
 INNER JOIN departments d ON ws.department_code = d.accounting_unit_code AND d.hospital_id = {hospital_id}                                   +
 WHERE ws.stat_month = '{current_year_month}'                                                                                                +
   AND ws.stat_type = 'dim-nur-bed-3'                                                                                                        +
   AND d.is_active = TRUE;                                                                                                                   +
                                                                                                                                             +
 -- 8. 涔欑骇搴婃棩鎶ょ悊 (dim-nur-bed-4)                                                                                                          +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     ws.stat_value as workload,                                                                                                              +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     ws.stat_value * mn.weight as value,                                                                                                     +
     NOW() as created_at                                                                                                                     +
 FROM workload_statistics ws                                                                                                                 +
 INNER JOIN model_nodes mn ON ws.stat_type = mn.code AND mn.version_id = {version_id}                                                        +
 INNER JOIN departments d ON ws.department_code = d.accounting_unit_code AND d.hospital_id = {hospital_id}                                   +
 WHERE ws.stat_month = '{current_year_month}'                                                                                                +
   AND ws.stat_type = 'dim-nur-bed-4'                                                                                                        +
   AND d.is_active = TRUE;                                                                                                                   +
                                                                                                                                             +
 -- 9. 涓欑骇搴婃棩鎶ょ悊 (dim-nur-bed-5)                                                                                                          +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     ws.stat_value as workload,                                                                                                              +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     ws.stat_value * mn.weight as value,                                                                                                     +
     NOW() as created_at                                                                                                                     +
 FROM workload_statistics ws                                                                                                                 +
 INNER JOIN model_nodes mn ON ws.stat_type = mn.code AND mn.version_id = {version_id}                                                        +
 INNER JOIN departments d ON ws.department_code = d.accounting_unit_code AND d.hospital_id = {hospital_id}                                   +
 WHERE ws.stat_month = '{current_year_month}'                                                                                                +
   AND ws.stat_type = 'dim-nur-bed-5'                                                                                                        +
   AND d.is_active = TRUE;                                                                                                                   +
                                                                                                                                             +
 -- 10. 鏅€氬叆闄㈡姢鐞?(dim-nur-trans-in)                                                                                                      +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     ws.stat_value as workload,                                                                                                              +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     ws.stat_value * mn.weight as value,                                                                                                     +
     NOW() as created_at                                                                                                                     +
 FROM workload_statistics ws                                                                                                                 +
 INNER JOIN model_nodes mn ON ws.stat_type = mn.code AND mn.version_id = {version_id}                                                        +
 INNER JOIN departments d ON ws.department_code = d.accounting_unit_code AND d.hospital_id = {hospital_id}                                   +
 WHERE ws.stat_month = '{current_year_month}'                                                                                                +
   AND ws.stat_type = 'dim-nur-trans-in'                                                                                                     +
   AND d.is_active = TRUE;                                                                                                                   +
                                                                                                                                             +
 -- 11. 鏃ラ棿鎶ょ悊 (dim-nur-trans-intraday)                                                                                                    +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     ws.stat_value as workload,                                                                                                              +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     ws.stat_value * mn.weight as value,                                                                                                     +
     NOW() as created_at                                                                                                                     +
 FROM workload_statistics ws                                                                                                                 +
 INNER JOIN model_nodes mn ON ws.stat_type = mn.code AND mn.version_id = {version_id}                                                        +
 INNER JOIN departments d ON ws.department_code = d.accounting_unit_code AND d.hospital_id = {hospital_id}                                   +
 WHERE ws.stat_month = '{current_year_month}'                                                                                                +
   AND ws.stat_type = 'dim-nur-trans-intraday'                                                                                               +
   AND d.is_active = TRUE;                                                                                                                   +
                                                                                                                                             +
 -- 12. 鏅€氬嚭闄㈡姢鐞?(dim-nur-trans-out)                                                                                                     +
 INSERT INTO calculation_results (                                                                                                           +
     task_id,                                                                                                                                +
     node_id,                                                                                                                                +
     department_id,                                                                                                                          +
     node_type,                                                                                                                              +
     node_name,                                                                                                                              +
     node_code,                                                                                                                              +
     parent_id,                                                                                                                              +
     workload,                                                                                                                               +
     weight,                                                                                                                                 +
     original_weight,                                                                                                                        +
     value,                                                                                                                                  +
     created_at                                                                                                                              +
 )                                                                                                                                           +
 SELECT                                                                                                                                      +
     '{task_id}' as task_id,                                                                                                                 +
     mn.id as node_id,                                                                                                                       +
     d.id as department_id,                                                                                                                  +
     'dimension' as node_type,                                                                                                               +
     mn.name as node_name,                                                                                                                   +
     mn.code as node_code,                                                                                                                   +
     mn.parent_id as parent_id,                                                                                                              +
     ws.stat_value as workload,                                                                                                              +
     mn.weight,                                                                                                                              +
     mn.weight as original_weight,                                                                                                           +
     ws.stat_value * mn.weight as value,                                                                                                     +
     NOW() as created_at                                                                                                                     +
 FROM workload_statistics ws                                                                                                                 +
 INNER JOIN model_nodes mn ON ws.stat_type = mn.code AND mn.version_id = {version_id}                                                        +
 INNER JOIN departments d ON ws.department_code = d.accounting_unit_code AND d.hospital_id = {hospital_id}                                   +
 WHERE ws.stat_month = '{current_year_month}'                                                                                                +
   AND ws.stat_type = 'dim-nur-trans-out'                                                                                                    +
   AND d.is_active = TRUE;                                                                                                                   +
                                                                                                                                             +
 -- 杩斿洖鎻掑叆鐨勮褰曟暟                                                                                                                         +
 SELECT COUNT(*) as inserted_count                                                                                                           +
 FROM calculation_results                                                                                                                    +
 WHERE task_id = '{task_id}'                                                                                                                 +
   AND node_type = 'dimension'                                                                                                               +
   AND node_code LIKE 'dim-nur%';                                                                                                            +
 
(1 row)

